// ------------------------------------
// Fonts
// ------------------------------------

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

/*
@font-face {
    font-family: 'gordita';
    src: url('/fonts/gordita/gorditaregular-webfont.eot');
    src: url('/fonts/gordita/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gordita/gorditaregular-webfont.woff2') format('woff2'),
         url('/fonts/gordita/gorditaregular-webfont.woff') format('woff'),
         url('/fonts/gordita/gorditaregular-webfont.ttf') format('truetype'),
         url('/fonts/gordita/gorditaregular-webfont.svg#gorditaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
*/
