/*
List

Markup:
<ul>
 <li>2 for 1 på Asker-kamp</li>
 <li>20 % rabatt på forestillinger fra Nationaltheatret</li>
 <li>10 % rabatt hos Maxbo</li>
 <li>20 % rabatt hos Den Norske Opera &amp; Ballett på hverdager hvis du tar med to barn</li>
 <li>Halv pris på Lambertseter bad</li>
</ul>
<ol>
 <li>Meld først innbruddet til politiet. </li>
 <li>Meld så inn skaden til oss så fort du har anledning.</li>
 <li>Vent til forsikringssaken er avsluttet før du kontakter håndtverkere.</li>
</ol>

Styleguide 2.1
*/
.list, ul, ol {
    padding-left: 1.4rem;
    margin:0;
    margin-bottom: $spacing--large;
}

.list, .list-wrapper ul, .list-wrapper ol  {
  li {
    padding-left: 1.25em;
    text-indent: -0em;
    padding-bottom: $spacing--small;
    &:before {
      display: inline-block;
      content: "•";
      color: $color__black;
      position: absolute;
      margin-left: -1.25rem;
    }
  }
}

ul.list, .list-wrapper ul {
  list-style: none;
  padding:0;
}

ol.list, .list-wrapper ol {
  list-style: none;
  padding:0;
  counter-reset: list-count;
  li:before {
    color: $color__black;
    content: counter(list-count);
    counter-increment: list-count;
    font-weight: 500;
  }
}

nav ol,
nav ul {
    list-style: none;
    padding-left: 0;
}
