html {
    font-size: 100%;
}

body {
    font-family: $font;
    font-weight: 400;
    line-height: $lineheight;
    color: $color__black;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
%h1,
%h2,
%h3,
%h4,
%h5,
%h6 {
    font-family: $font;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    small {
      display: block;
      color: $color__gray-text;
      font-weight: 400;
      font-size: 0.66em;
    }
}

h1,
.h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    @include breakpoint(small) {
        margin-top: 0;
        font-size: 2.00rem;
    }
    @include breakpoint(medium) {
        font-size: 2.50rem;
    }
}

h2,
%h2,
.h2 {
    font-size: 1.33rem;
    font-weight: 400;
    margin-top: 2rem;
    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
    &:first-child {
      margin-top: 0;
    }
}

h3,
%h3,
.h3 {
    font-size: 1.1rem;
    @include breakpoint(small) {
        font-size: 1.25rem;
    }
}

h4,
%h4,
.h4 {
    font-size: 1rem;
    @include breakpoint(small) {
      font-size: 1.1rem;
    }
}

h5,
%h5 {
    font-size: 1rem;
}

h6,
%h6 {
    font-size: 0.875rem;
    text-transform: uppercase;
}

// Text Block Elements
p,
%text,
ul,
ol,
dl,
pre,
blockquote,
table {
    margin-top: 0;
    margin-bottom: 1.5em;

    &:only-child,
    &:last-child {
        //margin-bottom: 0;
    }
}

// Paragraphs
p, %text {
    font-size: inherit;
    line-height: 1.8;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

dd + dt,
li {
    margin-top: 0.5em;
}

blockquote {

}

blockquote > p {
    margin-bottom: 0;
}

blockquote > cite {
    display: block;
    font-size: 0.85rem;
}

q {
    font-style: italic;
    quotes: '«' '»' '‘' '’'; // Norske anførselstegn
}

address {
    font-style: normal;
}

hr {
    border: 0;
    height: 1px;
    background-color: $color__gray;
}

small {
    font-size: 0.85em;
    line-height: 1.3em;
}

a, .link {
  color: $color__black;
  text-decoration: none;
  //border-bottom: 2px solid $color__black;
  background-image: linear-gradient(to top, transparent, transparent 0px, $color__black 0px, $color__black 1px, transparent 1px);
  text-shadow: -1px -1px 0 $color__white, 1px -1px 0 $color__white, -1px 1px 0 $color__white, 1px 1px 0 $color__white;
  transition: background-image 200ms ease;
  &:hover, &:focus {
    color: $color__primary;
    background-image: linear-gradient(to top, transparent, transparent 0px, $color__primary 0px, $color__primary 1px, transparent 1px);
    //border-bottom-color: $color__primary;
  }
  &:active {
    color: $color__primary;
    //border-bottom-color: $color__primary;
  }
  &::selection {
    text-shadow: -1px -1px 0 $color__secondary--light, 1px -1px 0 $color__secondary--light, -1px 1px 0 $color__secondary--light, 1px 1px 0 $color__secondary--light;
  }
}

.link--white {
  color: $color__white;
  &:hover, &:focus {
    border-bottom-color: $color__white;
  }
}
