.flag {
    display: table;
    width: 100%;
    &__img {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding-right: $spacing;
        &,
        > :last-child {
          margin-bottom: 0;
        }
    }
    &__body {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        &,
        > :last-child {
          margin-bottom: 0;
        }
    }
    &--reversed {
        direction: rtl;
        > .flag__img {
            direction: ltr;
            padding-right: 0;
            padding-left: $spacing;
        }
        > .flag__body {
            direction: ltr;
        }
    }
    &--top {
        > .flag__img,
        > .flag__body {
          vertical-align: top;
        }
    }
    &--bottom {
        > .flag__img,
        > .flag__body {
          vertical-align: bottom;
        }
    }
    &--mobile-collapse {
      > .flag__img,
      > .flag__body {
        display: block;
        width: 100%;
        @include breakpoint(small) {
          display: table-cell;
          width: 50%;
        }
      }
      > .flag__img {
        &,
        > :last-child {
          margin-bottom: $spacing;
        }
        @include breakpoint(small) {
          &,
          > :last-child {
            margin-bottom: 0;
          }
        }
      }
    }
}
